<html>
    <head>
        <meta charset='utf-8' />
        <link href='{{ asset('https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.11.3/main.min.css')}}' rel='stylesheet' />
        <script src="{{ asset('https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.11.3/main.min.js')}}" integrity="sha256-h1wdpCwP+KTZR3Rbgwcb+CeUbEUBPoh+64lxN1DJTJI=" crossorigin="anonymous"></script>
        <script>

            window.onload = () => {
                let calendarElt = document.querySelector("#calendar")
                let calendar = new FullCalendar.Calendar(calendarElt, {
                    initialView: 'timeGridWeek',
                    locale: 'fr',
                    timeZone: 'Europe/Paris',
                    headerToolbar: {
                        start: 'prev,next today',
                        center: 'title',
                        end: 'dayGridMonth,timeGridWeek'
                    },
                    events: {{ data|raw }},
                    editable: true,
                    eventResizableFromStart: true
                })
                calendar.render()
            }

        </script>


    </head>
    <body>
    <div id='calendar'></div>
    </body>

</html>