{%extends 'blog/base.html.twig' %}




{% block body %}

 <h1> Creation d'une catégorie</h1>
<br>

{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}


 {{ form_row(form.title, {'attr': {'placeholder': "Titre du catégorie "}}) }}

 {{ form_row(form.text, {'attr': {'placeholder': "Text du catégorie "}}) }}




 <button type="submit" class="btn btn-success">

   Ajouter la Catégorie

 </button>



{{ form_end(form) }}

{% endblock%}
