{% for i in categories %}
    <tr>

        <td class="align-middle text-center">
            <span class="text-secondary text-xs font-weight-bold">{{ i.title }}</span>
        </td>
        <td class="align-middle text-center">
            <span class="text-secondary text-xs font-weight-bold">{{ i.text }}</span>
        </td>




{% endfor %}