{% extends 'back-office/index-back.html.twig' %}





{% block main %}
    <h1>Votre compte est bloqué, Merci de contacter votre administration </h1>
    <a href="/logout">logOut</a>
{% endblock %}
